//fonts
@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(../fonts/Gilroy-Bold) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(../fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'), url(../fonts/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: local('Gilroy-SemiBold'), url(../fonts/Gilroy-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local('Gilroy-ExtraBold'), url(../fonts/Gilroy-ExtraBold.ttf) format('truetype');
}

// helpers
@import './base/vars';
@import './base/helpers';
@import './base/reset';
@import './base/repeat';

// blocks
@import './blocks/brands';
@import './blocks/steps';
@import './blocks/works';
@import './blocks/goods';
@import './blocks/who';
@import './blocks/footer';
@import './blocks/contacts';
@import './blocks/home';
@import './blocks/sidebar';
@import './blocks/header';
@import './blocks/good-popup';
@import './blocks/feedback-popup';
@import './blocks/products';
@import './blocks/notfound-header';
@import './blocks/notfound';
@import './blocks/notfoundfooter';
@import './blocks/menu';