.brands__container {
    padding: 20px 0px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 50px;
}

.brands {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
        animation: scrollLine 10s linear infinite;

        @media (max-width: 528px) {
            animation: scrollLine-mobile 10s linear infinite;
        }
    }
}

.brands {
    @media (max-width: 528px) {
        &__container {
            gap: 30px;
        }
    }
}

@keyframes scrollLine {
    to {
        transform: translateX(calc(100% + 50px));
    }
}

@keyframes scrollLine-mobile {
    to {
        transform: translateX(calc(100% + 30px));
    }
}
