.brands__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px;
    gap: 50px;
    animation: scrollLine 10s linear infinite;
}

.brands {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.brands {
    @media (max-width: 528px) {
        &__container {
            gap: 30px;
        }
    }
}

@keyframes scrollLine {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(calc(-100%));
    }
    100% {
        transform: translateX(0%);
    }
}
