.goods {
    position: relative;
    padding: 60px 0px;
    border-top: 1px solid #ddd;
}

.goods__container {
    position: relative;
}

.goods__title {
    margin-bottom: 20px;
}

.goods__tabs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 27px;
    flex-wrap: wrap;
}

.goods__tab {
    cursor: pointer;
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    text-align: center;
    color: #fff;
    border: 2px solid #3f3f3f;
    border-radius: 3px;
    padding: 12px 13px;
    color: #282828;
    padding: 12px 31px;
    transition: all 0.2s linear;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-weight: 500;
}

.goods__tab:hover {
    border-radius: 3px;
    background-color: #282828 !important;
    border: 2px solid #f80;
    color: #fff;
}

.active-title {
    border-radius: 3px;
    background-color: #f80 !important;
}

.goods__slider {
    display: none;
}

.goods__content {
    margin-bottom: 35px;

    &:not(:first-child) {
        padding-left: 60px;
    }
}

.goods__row {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.active-tab {
    display: block;
}

.goods__item {
    max-width: 356px;
    flex: 0 1 25%;
}

.goods__image {
    margin-bottom: 15px;

    img {
        width: 100%;
    }
}

.goods__name {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #282828;
}

.goods__text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.goods__buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.prev-good {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 50%;
    z-index: 8;
    transform: translateY(-100%) scale(100%);
    transition: all 0.2s linear;

    &:hover {
        transform: translateY(-100%) scale(110%);
    }
}

.next-good {
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: 49.5%;
    margin-top: 12px;
    z-index: 8;
    transform: scale(100%);
    transition: all 0.2s linear;

    &:hover {
        transform: scale(110%);
    }
}

.prev-good.swiper-button-disabled {
    display: none;
}

.next-good.swiper-button-disabled {
    display: none;
}

@media (max-width: 1680px) {
    .next-good {
        display: none;
    }

    .prev-good {
        display: none;
    }
}

@media (max-width: 1025px) {
    .goods {
        padding: 16px 0px 40px;
    }

    .goods__title {
        font-size: 24px;
        line-height: 250%;
        margin-bottom: 15px;
    }

    .goods__content {
        margin-bottom: 0px;
    }

    .goods__row {
        gap: 20px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .goods__image {
        margin-bottom: 10px;
    }

    .goods__name {
        font-family: "Gilroy-Medium", sans-serif;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #282828;
    }

    .goods__buttons {
        display: none;
    }
}

@media (max-width: 528px) {
    .goods {
        padding: 30px 0px;
    }

    .goods__title {
        font-size: 20px;
        line-height: 105%;
        margin-bottom: 20px;
    }

    .goods__tabs {
        gap: 5px;
        margin-bottom: 20px;
    }

    .goods__tab {
        font-size: 12px;
        line-height: 134%;
        padding: 8px 21px;
    }

    .goods__row {
        gap: 5px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .goods__image {
        margin-bottom: 5px;
    }

    .goods__name {
        font-size: 12px;
    }
}
