.goods {
    position: relative;
    padding: 60px 0px;
    border-top: 1px solid #ddd;
}

.goods__container {
    position: relative;
}

.goods__title {
    margin-bottom: 20px;
}

.goods__tabs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 27px;
    flex-wrap: wrap;
}

.goods__tab {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 14px;
    line-height: 115%;
    text-align: center;
    color: #fff;
    border: 1px solid #3f3f3f;
    border-radius: 3px;
    padding: 12px 13px;
    color: #282828;
    padding: 12px 31px;
}

.active-title {
    border-radius: 3px;
    background-color: #f80 !important;
    border: 1px solid #f80 !important;
    color: #fff;
}

.goods__slider {
    display: none;
}

.goods__content {
    margin-bottom: 35px;
}

.goods__row {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.active-tab {
    display: block;
}

.goods__item {
    max-width: 356px;
    flex: 0 1 25%;
}

.goods__image {
    margin-bottom: 15px;
}

.goods__name {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #282828;
}

.goods__text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.goods__buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.prev-good {
    cursor: pointer;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 12px;
    z-index: 20;
}

.next-good {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 12px;
    z-index: 20;
}

.prev-good.swiper-button-disabled {
  display: none;
}

.next-good.swiper-button-disabled {
  display: none;
}