.header {
    padding: 21px 0px;
    border-bottom: 1px solid #ddd;
    z-index: 10;
    height: 82px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 80px;
        margin-left: -150px;
    }

    &__logo {
        background-color: #fff;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 56px;
    }

    &__link {
        font-size: 16px;
        line-height: 162%;
        color: #1c1c1c;
        font-family: "Gilroy-Medium", sans-serif;
        font-weight: 500;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__number {
        font-weight: 500;
        font-size: 15px;
        line-height: 93%;
        text-transform: uppercase;
        text-align: center;
        color: #1c1c1c;
        font-family: "Gilroy-Medium", sans-serif;
    }

    &__close-burger {
        display: none;
    }

    &__button {
        border: 1px solid #1c1c1c;
        border-radius: 5px;
        padding: 13px 18px;
        gap: 15px;
        display: flex;
        align-items: center;
    }

    &__button-link {
        font-weight: 600;
        font-size: 13px;
        line-height: 108%;
        text-transform: uppercase;
        text-align: center;
        color: #1c1c1c;
    }

    &__button-arrow {
        width: 10px;
        height: 12px;
    }

    &__burger {
        display: none;
        flex-direction: column;
        gap: 7px;

        span {
            display: block;
            width: 31px;
            border: 1px solid #282828;
            border-radius: 2px;
        }
    }
}

.link-products {
    display: flex;
    align-items: center;
    gap: 5px;

    &::after {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        background: url("../images/icons/link-plis.svg") 0 0 no-repeat;
    }

    &.active {
        text-decoration: underline;
    }
}

.link-sub-menu.active {
    &::after {
        height: 2px;
        width: 7px;
        background: url("../images/icons/link-minus.svg") 0 0 no-repeat;
    }
}

.header.active .header__close-burger {
    display: block;
}

.header.active .header__open-burger {
    display: none;
}

@media (max-width: 1850px) {
    .header__content {
        margin-left: -70px;
    }
}

@media (max-width: 1750px) {
    .header__content {
        margin-left: 0px;
        gap: 50px;
    }

    .header__list {
        gap: 30px;
    }
}

@media (max-width: 1350px) {
    .header__container {
        gap: 30px;
    }

    .header__logo {
        img {
            width: 100%;
        }
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        display: flex;
    }
}

@media (max-width: 600px) {
    .header__phone {
        display: none;
    }

    .header {
        height: auto;

        &__logo {
            width: 100px;
            height: 11px;
        }

        &__button {
            padding: 7px 17px;
            gap: 6px;
        }

        &__button-link {
            font-size: 10px;
            line-height: 140%;
        }

        &__button-arrow {
            width: 8px;
            height: 8px;
        }
    }
}

@media (max-width: 365px) {
    .header__button {
        display: none;
    }
}
