.home {
    padding: 60px 0px;
    border-bottom: 1px solid #ddd;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 34px;
    }

    &__line {
        margin-top: 145px;
        width: 35px;
        height: 2px;
        background-color: #f80;
    }

    &__uptext {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: #606060;
        margin-bottom: 20px;
        font-family: "Gilroy-Medium", sans-serif;
    }

    &__title {
        font-weight: 400;
        font-size: 56px;
        line-height: 107%;
        color: #1c1c1c;
        max-width: 442px;

        .orange {
            text-decoration: underline;
        }
    }

    &__subtext {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 35px;
    }

    &__big-text {
        font-weight: 500;
        font-size: 56px;
        line-height: 107%;
        color: #1c1c1c;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #000;
        max-width: 648px;
        margin-bottom: 45px;
    }

    &__clients {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__buttons {
        margin-bottom: 45px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.clients-home {
    &__number {
        font-weight: 500;
        font-size: 28px;
        color: #000;
        font-family: "Gilroy-Medium", sans-serif;
        opacity: 0.78;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        color: #202020;
        opacity: 0.78;
    }
}
