.menu {
    position: fixed;
    display: none;
    width: 100%;
    top: 82px;
    background-color: #f7f7f7;
    z-index: 100;
    padding: 20px 30px 50px 30px;

    &.show {
        display: block;
    }

    &__container {
        margin-left: -12px;
        display: inline-block;
    }

    &__name {
        font-weight: 600;
        font-size: 22px;
        line-height: 118%;
        color: #000;
        margin-bottom: 26px;
        font-family: "Gilroy-SemiBold", sans-serif;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 80px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

.item-menu {
    &__name {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-size: 18px;
        line-height: 144%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #000;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        &::after {
            content: "";
            background: url("../../images/icons/orange-arrow.svg") 0 0 no-repeat;
            display: block;
            width: 15px;
            height: 15px;
        }
    }

    &__links {
        li {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__link {
        font-family: "Gilroy-Medium", sans-serif;
        font-size: 16px;
        line-height: 162%;
        color: #000;
    }
}

@media (max-width: 1350px) {
    .menu {
        display: none;
    }
}

.menu-mobile {
    position: fixed;
    z-index: 10;
    top: 74px;
    background-color: #fff;
    height: calc(100% - 74px);
    overflow: scroll;
    transform: translateX(-100%);
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;
    transition: all 0.2s linear;

    &.active-menu {
        transform: translateX(0);
        display: block;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;

        &.hide {
            display: none;
        }
    }

    &__link {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 162%;
        color: #1c1c1c;
    }

    &__tags {
        padding: 20px 0px;
        border-bottom: 1px solid #ddd;
    }

    &__title {
        font-family: "Gilroy-Medium", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: -0.02em;
        color: rgba(40, 40, 40, 0.8);
        margin-bottom: 20px;
    }

    &__tags-content {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__tag {
        border: 1px solid #424046;
        border-radius: 100px;
        padding: 4px 10px;
        font-family: "Gilroy-Medium", sans-serif;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: -0.02em;
        color: #282828;
    }
}

.contacts-menu {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;

    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__name {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: -0.02em;
        color: rgba(40, 40, 40, 0.8);
        margin-bottom: 15px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__text {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #1c1c1c;
    }

    &__button {
        border: 1px solid #282828;
        border-radius: 5px;
        background-color: #3f3f3f;
        padding: 17px 25px;
        display: inline-flex;
        align-items: center;
        gap: 25px;
        margin: 20px 0px 0px 0px;
        font-weight: 600;
        font-size: 12px;
        line-height: 117%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        transition: all 0.2s linear;
    }

    &__button-arrow {
        transition: all 0.2s linear;
    }
}

.contacts-menu__button:hover {
    background-color: #fff;
    color: #282828;
}

contacts-menu__button:hover .contacts-menu__button-arrow path {
    fill: #282828;
}

.link-submenu {
    &__content {
        margin-top: 0px;
        opacity: 0;
        height: 0px;
        transition: all 0.2s linear;
        visibility: hidden;

        &.active {
            height: auto;
            visibility: visible;
            opacity: 100;
            margin-top: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__text {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 173%;
        color: #1c1c1c;
    }
}

.content-menu {
    padding-bottom: 0px;
    border-bottom: 1px solid #ddd;
    opacity: 0;
    transition: all 0.2s linear;
    height: 0px;
    visibility: hidden;
    // display: none;

    &.active {
        // display: block;
        visibility: visible;
        height: auto;
        opacity: 100;
        padding-bottom: 20px;
    }

    &__back {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
        margin-bottom: 12px;
    }

    &__back-text {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        color: #727171;
    }

    &__category {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        width: 100%;
        border-radius: 10px;
        background-color: #f80;
        text-align: center;
        padding: 15px 0px;
        margin-bottom: 15px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__link {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        color: #000;
    }
}