.products {
    padding: 60px 0px;
    border-top: 1px solid #ddd;
}

.products__title {
    margin-bottom: 20px;
}

.products__tabs {
    margin-bottom: 27px;
}

.products__tab-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.products__tab {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 14px;
    line-height: 115%;
    text-align: center;
    color: #fff;
    border: 1px solid #3f3f3f;
    border-radius: 3px;
    padding: 12px 13px;
    color: #282828;
}

.active-tab {
    border-radius: 3px;
    padding: 12px 31px;
    background-color: #f80;
    border: 1px solid #f80;
    color: #fff;
}

.products__content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.products__item {
    max-width: 356px;
    flex: 0 1 25%;
}

.products__image {
    margin-bottom: 15px;
}

.products__name {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #282828;
}

.products__text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.products__buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}
