.products {
    padding: 25px 0px;
    border-top: 1px solid #ddd;
}

.products__container {
    position: relative;
}

.products__title {
    margin-bottom: 20px;
}

.products__tabs {
    margin-bottom: 27px;
}

.products__tab-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.tab-subtab {
    display: none;
}

.tab-subtab.active-tab {
    display: flex !important;
}

.products__tab {
    cursor: pointer;
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    text-align: center;
    color: #fff;
    border: 2px solid #3f3f3f;
    border-radius: 3px;
    padding: 12px 13px;
    color: #282828;
    padding: 12px 31px;
    transition: all 0.2s linear;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-weight: 500;
}

.products__tab:hover {
    border-radius: 3px;
    background-color: #282828 !important;
    border: 2px solid #f80;
    color: #fff;
}

.active-title {
    border-radius: 3px;
    border: 2px solid #f80;
    color: #fff;
    background-color: #f80 !important;
}

.products__slider {
    display: none;
}

.products__content {
    margin-bottom: 35px;

    &:not(:first-child) {
        padding-left: 70px;
    }

    @media (max-width: 1500px) {
        &:not(:first-child) {
            padding-left: 0px;
        }
    }
}

.prev-products.swiper-button-disabled ~ .products__buttons {
    padding-left: 0px;
}

.products__row {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.active-tab {
    display: block;
}

.products__item {
    max-width: 356px;
    flex: 0 1 25%;
}

.products__image {
    margin-bottom: 15px;

    img {
        width: 100%;
    }
}

.products__name {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #282828;
}

.products__text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.products__buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 70px;
}

.prev-products {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 8;
    transform: scale(100%);
    transition: all 0.2s linear;

    &:hover {
        transform: scale(110%);
    }

    @media (max-width: 1750px) {
        left: 133px;
    }
}

.next-products {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 49.5%;
    margin-top: 12px;
    z-index: 8;
    transform: scale(100%);
    transition: all 0.2s linear;

    &:hover {
        transform: scale(110%);
    }
}

.prev-products.swiper-button-disabled {
    display: none;
}

.next-products.swiper-button-disabled {
    display: none;
}

.active-sub-tab-content {
    display: none;
}

.active-sub-tab-content.active {
    display: flex !important;
}

.sub-tab-content {
    display: none;

    &.active {
        display: block;
    }
}

@media (max-width: 1500px) {
    .next-products {
        display: none;
    }

    .prev-products {
        display: none;
    }
}

@media (max-width: 1025px) {
    .products {
        padding: 16px 0px 40px;
    }

    .products__title {
        font-size: 24px;
        line-height: 250%;
        margin-bottom: 15px;
    }

    .products__content {
        margin-bottom: 0px;
    }

    .products__row {
        gap: 20px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .products__image {
        margin-bottom: 10px;
    }

    .products__name {
        font-family: "Gilroy-Medium", sans-serif;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #282828;
    }

    .products__buttons {
        display: none;
    }
}

@media (max-width: 528px) {
    .products {
        padding: 30px 0px;
    }

    .products__title {
        font-size: 20px;
        line-height: 105%;
        margin-bottom: 20px;
    }

    .products__tabs {
        gap: 5px;
        margin-bottom: 20px;
    }

    .products__tab {
        font-size: 12px;
        line-height: 134%;
        padding: 8px 21px;
    }

    .products__row {
        gap: 5px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .products__image {
        margin-bottom: 5px;
    }

    .products__name {
        font-size: 12px;
    }
}
