.sidebar {
    position: fixed;
    top: 82px;
    left: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 109px 40px 141px 40px;
    background-color: #fff;
    width: 106px;
    height: 100%;
    z-index: 9;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 106px;
    }
    
    &__link {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 600;
        transform: rotate(-90deg) scale(100%);
        font-size: 18px;
        line-height: 144%;
        color: #282828;
        transition: all 0.2s linear;

        &:hover {
            transform: rotate(-90deg) scale(105%);
            color: #f80;
            text-decoration: underline;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

.notfound-sidebar {
    border-top: 1px solid #ddd;
    top: 150px;
    padding-bottom: 90px;

    &__links {
        margin-bottom: 350px;
    }
}

@media (max-width: 1250px) {
    .sidebar {
        display: none;
    }

    section ._container {
        padding-left: 15px !important;
    }

    .footer ._container {
        padding-left: 15px !important;
    }
}

@media (max-width: 1750px) {
    section ._container {
        padding-left: 140px;
    }

    .footer ._container {
        padding-left: 140px;
    }
}