.who {
    padding: 45px 0px 75px 0px;
    border-top: 1px solid #ddd;
}

.who__container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 45px;
}

.who__decor {
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: -30px;
    right: -150px;
}

.who__content {
    align-items: center;
    max-width: 710px;
}

.who__title {
    margin-bottom: 30px;
}

.who__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #000;
    margin-bottom: 20px;
}

.who__blocks {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 37px;
}

.who__block {
    flex: 1 1 40%;
}

.who__number {
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 32px;
    color: #000;
    opacity: 0.78;
}

.orange {
    color: #f80;
}

.who__subtext {
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #646464;
    opacity: 0.78;
}

.who__buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.who__text-mobile {
    display: none;
}

.who-pagination {
    text-align: center;
    position: relative;
    top: -30px !important;
    z-index: 100;
}

.who-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #484848;
    opacity: 0.2 !important;
    margin: 0px 4px !important;
}

.who-pagination .swiper-pagination-bullet-active {
    background-color: #3f3f3f;
    opacity: 100 !important;
}

.who__title-mobile {
    display: none;
}

@media (max-width: 1250px) {
    .who__container {
        gap: 28px;
    }

    .title__text {
        font-size: 24px;
    }

    .who__title {
        margin-bottom: 20px;
    }

    .who__text {
        display: none;
    }

    .who__text-mobile {
        display: block;
        font-size: 16px;
        line-height: 200%;
        margin-bottom: 20px;
    }

    .who__blocks {
        gap: 20px;
    }

    .who__buttons {
    }

    .who__number {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .who__subtext {
        font-size: 14px;
    }

    .who__image {
        img {
            width: 100%;
        }
    }

    .who-pagination .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        margin: 0px 4px !important;
    }

    .who__decor {
        display: none;
    }
}

@media (max-width: 915px) {
    .who__container {
        display: block;
    }
    
    .who__title {
        display: none;
    }

    .who__title-mobile {
        display: flex;
    }

    .who__container {
        gap: 28px;
    }

    .title__text {
        font-size: 24px;
    }

    .who__title {
        margin-bottom: 20px;
    }

    .who__text {
        display: none;
    }

    .who__text-mobile {
        display: block;
        font-size: 16px;
        line-height: 200%;
        margin-bottom: 20px;
    }

    .who__blocks {
        gap: 20px;
    }

    .who__number {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .who__subtext {
        font-size: 14px;
    }

    .who__image {
        img {
            width: 100%;
        }
    }

    .who-pagination .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        margin: 0px 4px !important;
    }
}

@media (max-width: 528px) {
    .who {
        padding: 20px 0px;
    }

    .who__container {
        gap: 20px;
    }

    .title__text {
        font-size: 20px;
    }


    .title__line {
        width: 20px;
    }

    .who__text-mobile {
        font-size: 14px;
    }

    .who__buttons {
        gap: 5px;
    }

    .who__number {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .who__subtext {
        font-size: 12px;
    }
}
