.works {
    padding: 30px 0px 50px 0px;
    border-top: 1px solid #ddd;
}

.works__title {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.works__content {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    
}

.works__item {
    border-radius: 30px;
    box-shadow: 10px 10px 45px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 25px;
    width: 391px;

    &:first-child {
        // margin: 0px 0px 0px 60px;
    }
}

.works__slides {
    display: flex;
    gap: 20px;
}

.prev-work {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%) scale(100%);
    transition: all 0.2s linear;
    z-index: 8;

    &:hover {
        transform: translateY(-50%) scale(110%);
    }

        &.swiper-button-disabled {
        display: none;
    }
}

.next-work {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) scale(100%);
    transition: all 0.2s linear;
    z-index: 8;

    &:hover {
        transform: translateY(-50%) scale(110%);
    }

    &.swiper-button-disabled {
        display: none;
    }
}

.works__decor {
    margin-bottom: 20px;
}

.works__name {
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 18px;
    line-height: 133%;
    color: #2b2b2b;
    margin-bottom: 15px;
}

.works__subname {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 14px;
    line-height: 171%;
    color: #868686;
    margin-bottom: 20px;
}

.works__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #282828;
}

.works__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

@keyframes scrollRev {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(calc(-100% + 100vw - 150px));
    }
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 1250px) {
    .works__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .works__content {
        gap: 25px;
        margin-bottom: 20px;
    }

    .works__item {
        border-radius: 30px;
        padding: 15px;
        min-width: 279px;
    }

    .works__name {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .works__subname {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .works__text {
        font-size: 12px;
        line-height: 200%;
    }
}

@media (max-width: 528px) {
    .works {
        padding: 30px 0px;
    }

    .works__title {
        font-size: 20px;
        max-width: 312px;
        margin: 0px auto 20px auto;
    }

    .works__content {
        gap: 20px;
    }

    .works__item {
        border-radius: 10px;
        padding: 10px;
        min-width: 279px;
    }

    .works__buttons {
        gap: 5px;
    }
}
