.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title__line {
    width: 35px;
    height: 2px;
    background-color: #f80;
}

.title__text {
    font-weight: 400;
    font-size: 34px;
    line-height: 176%;
    color: #000;
}

.bold {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 500;
}

.button-white {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #282828;
    transition: all 0.2s linear;
    padding: 20px;
    color: #000;
    border-radius: 5px;
}

.button-white__icon path {
    transition: all 0.2s linear;
}

.button-black__icon path {
    transition: all 0.2s linear;
}

.button-white__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: "Gilroy-SemiBold", sans-serif;
    white-space: nowrap;
}

.button-black {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #282828;
    border: 1px solid #282828;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s linear;
}

.button-black__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: "Gilroy-SemiBold", sans-serif;
    white-space: nowrap;
}

.button-black:hover {
    background-color: #fff;
    color: #282828;
}

.button-black:hover .button-black__icon path {
    fill: #282828;
}

.button-white:hover {
    background-color: #f80;
    border-color: #f80;
    color: #fff;
}

.button-white:hover .button-white__icon path {
    fill: #fff;
}

@media (max-width: 528px) {
    .button-white {
        gap: 5px;
        padding: 13px 13px;
        border-radius: 5px;
    }

    .button-white__text {
        font-size: 10px;
    }

    .button-black {
        gap: 5px;
        padding: 13px 18px;
        border-radius: 5px;
    }

    .button-black__text {
        font-size: 10px;
    }
}

.big {
    font-family: "Gilroy-ExtraBold", sans-serif;
}

.orange {
    color: #f80 !important;
}

.underline {
    text-decoration: underline;
}

.scale {
    transition: all 0.2s linear;
    transform: scale(100%);
}

.scale:hover {
    transform: scale(120%);
}

// .scale-phone input {
//     transition: all 0.2s linear;
//     transform: scale(100%);
// }

// .scale-phone .iti__selected-country-primary {
//     transition: all 0.2s linear;
//     transform: scale(100%);
// }

// .iti__selected-country-primary:hover + input {
//     transform: scale(105%);
// }

// .scale-phone input:hover {
//     transform: scale(105%);
// }

.scale-text {
    transition: all 0.2s linear;
    transform: scale(100%);
    cursor: pointer;
}

.scale-text:hover {
    transform: scale(105%);
}
